.About {
    color: white;

    font-family: monospace;
    margin: 80px 40px;


    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.aboutHeader {
    font-size: clamp(2rem, 5vw, 4rem);
}

.cvButton {
    font-family: monospace;
    background-color: white;
    font-weight: 900;
    color: #090909;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px 40px;

}