

.SkillBox {
    display: flex;
    flex-direction: column;
    background-color: #222;
    width: 200px;
    height: 200px;
    margin: 20px 20px;

    border-radius: 8px;
    border: 2px solid #333;
    align-items: center;
    justify-content: center;
}

.Logo {
    width: 25%;

    transition: transform 0.4s ease;
}

.SkillBox:hover .Logo {
    transform: scale(1.1);
}

.SkillBox > p {
    font-family: monospace;
    font-size: 30px;
    color: white;
    margin-top: 20px;
}

.skillLink {
    text-decoration: none;
    margin: 0;
}